@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;  
}

.container{
    
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    .goBack{
        font-size: 1.8rem;
        font-weight: 800;   
        background-color: #f5f5f5;
        padding: 0.5rem;
        border-radius: 0.5rem;
        position: absolute;
        left: 1rem;
        top: -5rem;
        cursor: pointer;
        line-height: 1.8rem;
    }
    .room-popup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: auto;
        height: auto;
        // border: 0.1rem solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0.5rem;

        button{
            font-size: 1.2rem;
            padding: 0.5rem 0.8rem;
            width: 100%;
            border-radius: 0.2rem;
            border: none;
            cursor: pointer;
        }
    }
    .name-popup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: auto;
        height: auto;
        // border: 0.1rem solid black;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0.5rem;
        input{
            font-size: 1.2rem;
            padding: 0.8rem 0.4rem;
            border: 0.1rem solid #afafaf;
            border-radius: 0.5rem;
            color: black;
        }
        button{
            font-size: 1.2rem;
            padding: 0.5rem 0.8rem;
            width: 100%;
            border-radius: 0.2rem;
            border: none;
            cursor: pointer;
        }
    }

    .header{
        background-color: #c8c8c8;
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        span{
            padding: 0.2rem;    
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #afafaf;
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;

        }   
        i{
            font-size: 1.6rem;
            color: #f5f5f5;
            
            
        }
        h2{
            font-weight: 500;
            
        }
        h3{
            font-weight: 400;
            color: black;
        }
    }
    .chat-container{
        width: 100%;
        flex-grow: 1;
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 5.5rem 20rem;
        height: 45rem;
        padding-bottom: 5.5rem;
        
        
        .notification {
            align-self: center;
            color: #47b725;
            font-size: 1.2rem;
            margin: 0.4rem 0;

        }
        .user-chat{
            font-size: 1.2rem;
            align-self: flex-end;
            background-color: #2ee2be;
            padding: 0.5rem 0.8rem;
            width: fit-content;
            max-width: 40ch;
            border-radius: 0.5rem;
            margin: 0.4rem 0;
            color: white;
        }
        .group-chat{
            font-size: 1.2rem;
            background-color: #f5f5f5;
            padding: 0.5rem 0.8rem;
            border-radius: 0.5rem;
            margin: 0.2rem 0;
            width: fit-content;
            max-width: 40ch;
            margin: 0.4rem 0;
            display: flex;
            flex-direction: column;

            .sender-name{
                font-weight: 700;
                color: #2ee2be;
            }
        }
    }
    .footer{
        background-color: #f5f5f5;
        width: 100%;
        height: 5rem;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .message-input{
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            background-color: white;
            border: none;
            border-radius: 0.5rem;
            
            
        }
        .send-message{
            margin-left: 1rem;
            font-size: 1.2rem;
            // padding: 0.5rem 1rem;
            line-height: 1.2rem;
            border: none;
            background-color: #2ee2be;
            color: rgb(247, 247, 247);
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            text-align: center;
            cursor: pointer;
        }
    }
}
@media (max-width : 720px) {
    .container{
        .chat-container{
            padding: 5.5rem 1rem;
            padding-bottom: 5.5rem;

            .notification{
                font-size: 1rem;
            }
            .user-chat,.group-chat{
                font-size: 1rem;
                max-width: 30ch;
            }


        }
    }
}